<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>  	
	<meta charset="ISO-8859-1" />
		<title>Aggiungi Esami a Certificazione</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head> 

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>	
	<div id="container">
		<div id="section">
			<div>
				<div>
					<h1 th:text="${certificazione.nome}">Certificazione</h1>
					<div>Descrizione: <span th:text="${certificazione.descrizione}">Descrizione</span></div>
				</div>	
				<div th:if="${certificazione.esami !=null}" class="section-item"><strong>Esame nella Certificazione:</strong>
					<ul>
						<li>
							<a href="esame.html" th:href="@{'/esame' + '/' + ${certificazione.esami.id}}"								
							   th:text="${certificazione.esami.nome}">Esame</a>
						</li>	   	
					</ul>
				</div>
				
				<div class="section-item"><strong>Vuoi aggiungere uno dei seguenti Esami alla certificazione?</strong>
					<ul>
						<li th:each="esame: ${esami}">
							<a href="esame.html" th:href="@{'/esame' + '/' + ${esame.id}}"
							   th:text="${esame.nome}">Esame</a>
							<a href="#" th:href="@{'/admin' + '/certificazione' + '/' + ${certificazione.id} + '/' + ${esame.id}}">
							<span id="select">Aggiungi alla certificazione</span></a>
						</li>	   	
					</ul>
				</div>
				<div>
					<a class="section-item" id="button" href="certificazione.html" th:href="@{'/certificazione' + '/' + ${certificazione.id}}">Conferma</a>
				</div>
			</div>
			<img src="/images/allievoStilizzato.jpg"></img>
		</div>
	</div>

</body>

</html>