<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Prenotazione Esami</title>
<link rel="stylesheet" th:href="@{/css/my-style.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="text-section">
		<div id="admin">
			<div id="bottoni">
				<div class="button">
					<a th:href="@{/listaUtenti}">Allievo</a>
				</div>
				<div class="button">
					<a th:href="@{/certificazioni}">Certificazione</a>
				</div>
			</div>
			<div class="text-item">
				<h3>SEGRETARY MODE</h3>
				<h2>
					<a th:href="@{/register}">Aggiungi Allievo</a>
				</h2>
				<h2>
					<a th:href="@{/admin/esameForm}">Aggiungi esame</a>
				</h2>
				<h2>
					<a th:href="@{/admin/allievo/newCertificazione}">Aggiungi
						certificazioni</a>
				</h2>
				<h2>
					<a th:href="@{/admin/editCertificazione}">Modifica
						certificazioni</a>
				</h2>
				<h2>
					<a th:href="@{/admin/removeCertificazione}">Rimuovi
						certificazioni</a>
				</h2>

			</div>
		</div>
	</div>

</body>



</html>