<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />
<title>Allievo</title>
<link rel="stylesheet" th:href="@{css/elenchi.css}" />
<link rel="stylesheet" th:href="@{css/my-style.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="container">
		<div>
			<h1>I nostri Allievi:</h1>
		</div>
		<div id="section">
			<ul id="elenco">

				<li th:each="user : ${allievi}"><a href="#"
					th:href="@{'/user' + '/' + ${user.id}}"
					th:text="${user.nome}">Paolo Rossi</a></li>
			</ul>
		<img src="images/allievo.jpg"></img>

	</div>
	</div>
</body>

</html>