<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Dettagli Esame</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/descrizioni.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div id="sfondo-esame"></div>
		<div id="section">
			<div class="section-item">
				<div><strong>Nome: </strong>
				<span th:text="${esame.nome}">Esame</span></div>
				<div><strong>Descrizione: </strong>
				<span th:text="${esame.descrizione}">Descrizione</span></div>
				<div><strong>Professore: </strong>
				<span th:text="${esame.professore}">Professore</span></div>
				<div><strong>Cfu: </strong>
				<span th:text="${esame.cfu}">Cfu</span></div>
				<div><strong>Data: </strong>
				<span th:text="${esame.data}">data</span></div>
			</div>
		</div>
	</body>

</html>