<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title>Prenotazione Esami </title>
		<link rel="stylesheet" th:href="@{css/form.css}"/>
		<link rel="stylesheet" th:href="@{css/my-style.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: biblioteca"></div>
		<div id="text">
			<form id="form" th:action="@{/login}" method="POST">
				<div><h3>Entra nel tuo account con Username e Password</h3></div>
				<div class="form-item">
					<div>Username:</div>
					<div><input name="username" type="text" required /></div>
				</div>		
				<div class="form-item">
					<div>Password:</div>
					<div><input name="password" type="password" required /></div>
				</div>
				<div class="button">
					<div><button type="submit">Login</button></div>
				</div>
			</form>
		</div>
	</body>

</html>