<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(title)">
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
		<link th:href="@{/css/my-style.css}" rel="stylesheet">
		<title>Prenotazione Esami</title>
	</head>
	<body>
		<header th:fragment="intestazione">
			<nav>
				<div id="logo">
					<a href="http://localhost:8090">Prenotazione Esami</a>
				</div>
				<ul id="navigation">
					<li class="nav-item"><a th:href="@{/home}">Home</a></li>
					<li class="nav-item"><a th:href="@{/certificazioni}">Lista Certificazioni</a></li>	
					<li class="nav-item"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</nav>
		</header>
		<div th:fragment="biblioteca" id="biblioteca"></div>
		<div th:fragment="sfondo2" id="sfondo2"></div>
		<div th:fragment="sfondo3" id="sfondo3"></div>
		
	</body>
</html>